* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  /* min-width: 250px; */
}



html {
  font-family: 'Raleway', sans-serif;
}

/* inicio del body */

body {
  background-color: beige;
  background-image: linear-gradient(to right, rgb(243, 198, 198), beige);
}

/* .contenedor {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
} */

.header {
  /* position: fixed; */
  z-index: 5;
  /* padding: 4em; */
  width: 100%;
  height: 20%;
  background-color: black;
  color: cadetblue;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}


h1 {
  color: darkslategrey;
}

h2 {
  color: darkslategrey;
}

.navbar {
  color: cadetblue;
  text-align: center;
  background-color: cadetblue;
  /* border: 2px double; */
  width: 100%;
  height: 20%;
  /* padding: 20px; */
}



/* inicio de index */

/* Clases de Bootstrap */
.carousel-inner {
  width: 100%;
  height: 60vh;
  background-position: center;
}

/* Fin clases de Bootstrap */

.car__1 {
  height: 200px;
  background-image: url(../img/Daco1.jfif);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.car__2 {
  height: 200px;
  /* padding: 400px; */
  background-image: url(../img/Daco10.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.car__3 {
  height: 200px;
  background-image: url(../img/Daco7.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.car__4 {
  height: 200px;
  background-image: url(../img/Daco11.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

/* inicio sobre mi */

.fotoPrincipal {
  margin-left: 400px;
  margin-top: 200px;
  margin-bottom: 50px;

  border: 10px inset;
  border-color: darkslategrey;
}

/* inicio de servicios */



/* Fin de servicios */

/* inicio catalogo */

.imgCatalogo {
  /* z-index: 5; */
  padding: 4em;
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 2s;

}


.postresVariados:hover {
  margin: 30px;
  transform: rotate(2 turns);

}


.croissant {
  margin: 30px;
}

.donut {
  margin: 30px;
}

/* inicio de contacto */

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.contactanos {
  text-align: center;
  font-size: 3em;
  margin: 15px;
}


.contact-form {
  background: cadetblue;
  margin: 100px;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid black;
}

.contact-form form button {
  background: black;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: black;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media only screen and (min-width: 700px, 360px) {
  /* body {
    padding: 0 4em;
  } */

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}


/* fin de contacto */

/* fin del body */

/* inicio del footer */

.footer {
  color: cadetblue;
  background-color: black;
  padding: 1em 4em;
  /* background-color: gainsboro; */
  /* display: flex;
      justify-content: space-between; */
  /* align-items: center; */
}

.title__footer {
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid yellow;
}

iframe,
.footer ul {
  padding: 1em;
  color: cadetblue;
}

.footer ul i {
  padding: 0.5em;
  font-size: 1.5rem;
}

footer a {
  color: cadetblue;
  text-decoration: none;
}

footer a:hover {
  color: yellow;
}