$primary-color:black;
$secondary-color: cadetblue;

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

html {
    font-family: 'Raleway', sans-serif;
}

/* inicio del body */

body {
    background-color: rgb(115, 180, 182);
    // background-image: linear-gradient(to right, rgb(243, 198, 198), beige);
    background-image: url(../img/fondo2.jpg);
    margin: 0px;
    padding: 0px;
}



.header {
    z-index: 5;
    @include sizes(100%, 20%);
    background-color: $primary-color;
    color: $secondary-color;

    h1 {
        color: darkslategrey;
    }

    h2 {
        color: darkslategrey;
    }

    .navbar {
        color: $secondary-color;
        text-align: center;
        background-color: $secondary-color;
        @include sizes(100%, 20%);
    }
}

main {
    margin: 20px;
}

/* inicio de index */

/* Clases de Bootstrap */
.carousel--inner {
    @include sizes(100%, 60vh);


    .car__1 {
        height: 150px;
        background-image: url(../img/Daco1.jfif);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;

    }

    .car__2 {
        height: 150px;
        background-image: url(../img/Daco10.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }

    .car__3 {
        height: 150px;
        background-image: url(../img/Daco13.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }

    .car__4 {
        height: 150px;
        background-image: url(../img/Daco11.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    color: darkslategrey;
}

.carousel__inner {
    @include sizes(100%, 24vh);
    margin-top: 150px;


    .car__1 {
        height: 150px;
        background-image: url(../img/Daco1.jfif);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;

    }

    .car__2 {
        height: 150px;
        background-image: url(../img/Daco10.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }

    .car__3 {
        height: 150px;
        background-image: url(../img/Daco13.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }

    .car__4 {
        height: 150px;
        background-image: url(../img/Daco11.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }
}



/* inicio sobre mi */

.nombre1 {
    text-align: center;
    color: darkslategrey;
    margin-top: 60px;
}

.chef {
    text-align: center;
    color: darkslategrey;
}


#carouselExampleDark {
    width: 35%;
    height: 35%;
    text-align: center;
    margin-left: 32%;
    margin-bottom: 100px;
}

.carousel_inner {
    @include sizes(100%, 60vh);
    margin-bottom: 0px;


    .car__1 {
        height: 250px;
        background-image: url(../img/Daco1.jfif);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;

    }

    .car__2 {
        height: 250px;
        background-image: url(../img/Daco10.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }

    .car__3 {
        height: 250px;
        background-image: url(../img/Daco13.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }

    .car__4 {
        height: 250px;
        background-image: url(../img/Daco11.jpg);
        /* para centrarla bien */
        background-position: center;
        /* Para que ocupe todo el contenedor */
        background-size: cover;
    }
}

/* inicio de servicios */


/* Fin de servicios */

/* inicio catalogo */

.img__Catalogo {
    padding: 4em;
    @include sizes(100%, 30%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 2s;
    // margin-left: 1em;
    text-align: center;

    .postres--Variados {
        margin: 35px;

    }

    .croissant {
        margin: 35px;
    }

    .donut {
        margin: 35px;
    }

    .lemon {
        margin: 35px;
    }

    .chicken {
        margin: 35px;
    }

    .cake {
        margin: 35px;
    }
}

@media only screen and (max-width: 720px) {
    .img__Catalogo {
        height: initial;
        margin: 1em;
        display: flex;
        flex-direction: column;

    }
}


/* inicio de contacto */

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    box-sizing: border-box;

    ul {
        list-style: none;
        padding: 0;
    }

    .contactanos {
        text-align: center;
        font-size: 3em;
        margin: 15px;

    }

    .contact-form {
        background: $secondary-color;
        margin: 100px;

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;

            label {
                display: block;
            }

            p {
                margin: 0;
                padding: 1em;
            }

            .block {
                grid-column: 1 / 3;
            }

            button,
            input,
            textarea {
                width: 100%;
                padding: .7em;
                border: none;
                background: none;
                outline: 0;
                color: #fff;
                border-bottom: 1px solid $primary-color;
            }

            button {
                background: $primary-color;
                border: 0;
                text-transform: uppercase;
                padding: 1em;

                button:hover,
                button:focus {
                    background: $primary-color;
                    color: #fff;
                    transition: background-color 1s ease-out;
                    outline: 0;
                }
            }
        }
    }


    /* CONTACT INFO */
    .contact-info {
        background: $primary-color;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
    }
}

/* LARGE SIZE */
@media only screen and (max-width: 720px) {
    .content .contact-form {
        margin: 1em;

        form {
            display: flex;
            flex-direction: column;
        }
    }
}


/* fin de contacto */

/* fin del body */

/* inicio del footer */

.footer {
    color: $secondary-color;
    background-color: $primary-color;
    padding: 1em 4em;


    .title__footer {
        text-align: center;
        padding: 0.5em 0;
        border-bottom: 1px solid yellow;
    }
}

iframe,
.footer ul {
    padding: 1em;
    color: $secondary-color;

    i {
        padding: 0.5em;
        font-size: 1.5rem;
    }
}

footer a {
    color: $secondary-color;
    text-decoration: none;

    a:hover {
        color: yellow;
    }
}