* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

html {
  font-family: 'Raleway', sans-serif;
}

/* inicio del body */
body {
  background-color: #73b4b6;
  background-image: url(../img/fondo2.jpg);
  margin: 0px;
  padding: 0px;
}

.header {
  z-index: 5;
  width: 100%;
  height: 20%;
  background-color: black;
  color: cadetblue;
}

.header h1 {
  color: darkslategrey;
}

.header h2 {
  color: darkslategrey;
}

.header .navbar {
  color: cadetblue;
  text-align: center;
  background-color: cadetblue;
  width: 100%;
  height: 20%;
}

main {
  margin: 20px;
}

/* inicio de index */
/* Clases de Bootstrap */
.carousel--inner {
  width: 100%;
  height: 60vh;
}

.carousel--inner .car__1 {
  height: 150px;
  background-image: url(../img/Daco1.jfif);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel--inner .car__2 {
  height: 150px;
  background-image: url(../img/Daco10.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel--inner .car__3 {
  height: 150px;
  background-image: url(../img/Daco13.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel--inner .car__4 {
  height: 150px;
  background-image: url(../img/Daco11.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  color: darkslategrey;
}

.carousel__inner {
  width: 100%;
  height: 24vh;
  margin-top: 150px;
}

.carousel__inner .car__1 {
  height: 150px;
  background-image: url(../img/Daco1.jfif);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel__inner .car__2 {
  height: 150px;
  background-image: url(../img/Daco10.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel__inner .car__3 {
  height: 150px;
  background-image: url(../img/Daco13.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel__inner .car__4 {
  height: 150px;
  background-image: url(../img/Daco11.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

/* inicio sobre mi */
.nombre1 {
  text-align: center;
  color: darkslategrey;
  margin-top: 60px;
}

.chef {
  text-align: center;
  color: darkslategrey;
}

#carouselExampleDark {
  width: 35%;
  height: 35%;
  text-align: center;
  margin-left: 32%;
  margin-bottom: 100px;
}

.carousel_inner {
  width: 100%;
  height: 60vh;
  margin-bottom: 0px;
}

.carousel_inner .car__1 {
  height: 250px;
  background-image: url(../img/Daco1.jfif);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel_inner .car__2 {
  height: 250px;
  background-image: url(../img/Daco10.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel_inner .car__3 {
  height: 250px;
  background-image: url(../img/Daco13.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

.carousel_inner .car__4 {
  height: 250px;
  background-image: url(../img/Daco11.jpg);
  /* para centrarla bien */
  background-position: center;
  /* Para que ocupe todo el contenedor */
  background-size: cover;
}

/* inicio de servicios */
/* Fin de servicios */
/* inicio catalogo */
.img__Catalogo {
  padding: 4em;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 2s;
  transition: all 2s;
  text-align: center;
}

.img__Catalogo .postres--Variados {
  margin: 35px;
}

.img__Catalogo .croissant {
  margin: 35px;
}

.img__Catalogo .donut {
  margin: 35px;
}

.img__Catalogo .lemon {
  margin: 35px;
}

.img__Catalogo .chicken {
  margin: 35px;
}

.img__Catalogo .cake {
  margin: 35px;
}

@media only screen and (max-width: 720px) {
  .img__Catalogo {
    height: initial;
    margin: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* inicio de contacto */
.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* CONTACT INFO */
}

.content ul {
  list-style: none;
  padding: 0;
}

.content .contactanos {
  text-align: center;
  font-size: 3em;
  margin: 15px;
}

.content .contact-form {
  background: cadetblue;
  margin: 100px;
}

.content .contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.content .contact-form form label {
  display: block;
}

.content .contact-form form p {
  margin: 0;
  padding: 1em;
}

.content .contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.content .contact-form form button,
.content .contact-form form input,
.content .contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid black;
}

.content .contact-form form button {
  background: black;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.content .contact-form form button button:hover,
.content .contact-form form button button:focus {
  background: black;
  color: #fff;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.content .contact-info {
  background: black;
}

.content .contact-info h4,
.content .contact-info ul,
.content .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media only screen and (max-width: 720px) {
  .content .contact-form {
    margin: 1em;
  }
  .content .contact-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* fin de contacto */
/* fin del body */
/* inicio del footer */
.footer {
  color: cadetblue;
  background-color: black;
  padding: 1em 4em;
}

.footer .title__footer {
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid yellow;
}

iframe,
.footer ul {
  padding: 1em;
  color: cadetblue;
}

iframe i,
.footer ul i {
  padding: 0.5em;
  font-size: 1.5rem;
}

footer a {
  color: cadetblue;
  text-decoration: none;
}

footer a a:hover {
  color: yellow;
}
/*# sourceMappingURL=style.css.map */